.editBox{
    background-color: white;
    border:none;
    font-size: 18px;
    color:blue;
    &:hover {
        font-size: 23px;
        color:blue;

    }
}
img{
    width:20px;
    height:27px;
    background-color: white;
    border:none;
    padding-right: 2px;
}